<div class="portfolio-item">
	<div class="portfolio-content image">
		<%= image_tag("sparksite-logo.png", :size => "200x200", :alt => "sparksite") %>
	</div>
	<div class="portfolio-content description">
	<h3>Spark Entrepreneurs</h3>
	<p>The website for the official undergraduate entrepreneurship club at the University of Rochester. Developed and designed on Ruby on Rails.</p>
	</div>
	<div class="portfolio-content links">
		<li><%= link_to "View on Github", 			"https://github.com/sparkentrepreneurship/Spark-Site", class: "link-github", :target => "_blank" %></li>
		<li><%= link_to "View Site", 			"http://www.sparkentrepreneurship.club/", :target => "_blank" %></li>
	</div>
</div>
<div class="portfolio-item">
	<div class="portfolio-content image">
		<%= image_tag("210-picture.png", :size => "200x200", :alt => "csc 210 project") %>
	</div>
	<div class="portfolio-content description">
	<h3>CSC 210 Project</h3>
	<p>A web application built with the standard ruby language, sqlite3 and AJAX. Users submit links that they think are good resources or sites for a given topic, and through upvotes, organizes this data to show the best of the internet.</p>
	</div>
	<div class="portfolio-content links">
		<li><%= link_to "View on Github", 			"https://github.com/JohnBDonner/csc210-project", class: "link-github", :target => "_blank" %></li>
	</div>
</div>
<div class="portfolio-item">
	<div class="portfolio-content image">
		<%= image_tag("UR Vocal Coach Icon.png", :size => "200x200", :alt => "vocal coach") %>
	</div>
	<div class="portfolio-content description">
	<h3>UR Vocal Coach</h3>
	<p>An android application that helps singers easily practice, whether outside of a lesson or before a performance. Two modes were developed to train pitch identification and pitch-stable crescendos.</p>
	</div>
	<div class="portfolio-content links">
		<li><%= link_to "View on Github", 			"https://github.com/UR-Vocal-Coach/app", class: "link-github", :target => "_blank" %></li>
		<li><%= link_to "View Site", 				"https://sites.google.com/a/u.rochester.edu/ur-vocalcoach/", :target => "_blank" %></li>
	</div>
</div>
<div class="portfolio-item">
	<div class="portfolio-content image">
		<%= image_tag("bucket-logo.png", :size => "200x200", :alt => "travel app") %>
	</div>
	<div class="portfolio-content description">
		<h3>Bucket</h3>
		<p>Mock web and mobile designs for a concept travel application.</p>
	</div>
	<div class="portfolio-content links">
		<li><%= link_to "View Screens", 			"#", id: "view-bucket" %></li>
	</div>
	<div class="full-pictures" id="bucket">
		<li class="1 pic"><%= image_tag "bucket_web.png" %></li>
		<li class="2 pic"><%= image_tag "bucket_mobile.png" %></li>
	</div>
</div>
<div class="footer">
	John Donner | 2015
</div>
<div class="pic-view-bg"></div>